<footer class="footer mt-auto py-3" [ngClass]="'bg-' + storage.theme.bg">
    <div class="container">
        <small>
            <span class="text-muted">Aida Trigo González</span>
            <a (click)="openAbout()" class="text-muted puntero" style="float: right;">About</a>
            <br />
            <span class="text-muted">2º DAM 2018-2019</span>
            <a href="mailto:aidatrigogonzalez@gmail.com" class="text-muted puntero" style="float: right;">Contact</a>
        </small>
    </div>
</footer>