<h1 *ngIf="!error.falloBool" [ngClass]="storage.theme.text">Recomendations</h1>

<div [hidden]="error.falloBool" class="row">
    <div class="col">
        <input [(ngModel)]="category" #busqueda type="text" (keyup)="buscar(busqueda.value)" class="form-control" [placeholder]="'Search category'" />
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error.falloBool" class="alert alert-success animated fadeIn">
    <h3>Error {{error.falloCod}}</h3>
    <p>{{error.falloMens}}</p>
</div>

<app-cards *ngIf="!loading && recommendations.length !== 0" [items]="recommendations"></app-cards>

<h2 *ngIf="!loading && recommendations.length === 0 && busqueda.value !== ''" class="m-5 text-center animated fadeIn" [ngClass]="storage.theme.text">Recommendations not found for that category!</h2>

<div *ngIf="busqueda.value === '' && !error.falloBool" style="height: 100%; width: 100%; padding: 13.48%;"></div>
<div *ngIf="recommendations.length === 0 && busqueda.value !== '' || loading" style="height: 100%; width: 100%; padding: 7.42%;"></div>
<div *ngIf="error.falloBool" style="height: 100%; width: 100%; padding: 12.14%;"></div>