<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error.falloBool" class="alert alert-success animated fadeIn">
    <h3>Error {{error.falloCod}}</h3>
    <p>{{error.falloMens}}</p>
</div>

<div *ngIf="!loading && !error.falloBool" class="row" [ngClass]="storage.theme.text">
    <div class="col-2">
        <img [src]="playlist.images | noimage" class="img-tumbnail img-circle" />
    </div>
    <div class="col">
        <h3>
            {{playlist.name}}
            <i title="Remove from favourites" *ngIf="fav" class="fas fa-star puntero animated fadeIn fast" (click)="favPressed()" style="color: goldenrod;"></i>
            <i title="Add to favourites" *ngIf="!fav" class="far fa-star puntero animated fadeIn fast" (click)="favPressed()" style="color: goldenrod;"></i>
        </h3>
        <p>
            <a [href]="playlist.external_urls.spotify" target="_blank">
                <button type="button" class="btn btn-success btn-sm" style="color: black !important;">
                    <i class="fab fa-spotify"></i>
                    Open playlist in Spotify
                </button>
            </a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/home" class="btn btn-outline-success">Back to home</button>
    </div>
</div>

<div *ngIf="!loading && !error.falloBool" class="row m-2">

    <div>
        <p style="color: transparent">Hola</p>
    </div>

    <div style="position: sticky; top: 30%; margin-top: 30px;" class="reproductor">
        <iframe [src]="playlist.id | domseguro:'https://open.spotify.com/embed/playlist/'" width="300" height="310" frameborder="0" allowtransparency="false" allow="encrypted-media"></iframe>
    </div>

    <div class="col" style="position: relative; bottom: 315px; margin-left: 30%;">
        <table class="table" [ngClass]="storage.theme.text" style="width: 100%;">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Artist</th>
                    <th style="width: 300px;">Listen</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of playlist.tracks.items">
                    <td (click)="redirect(track.track)" class="puntero">{{track.track.name}}</td>
                    <td>
                        <p *ngIf="track.track.artists" class="card-text">
                            <span (click)="redirectToArtist(artista)" *ngFor="let artista of track.track.artists " class="badge badge-pill badge-success puntero">{{artista.name}}</span>
                        </p>
                    </td>
                    <td style="width: 300px;">
                        <iframe [src]="track.track.id | domseguro:'https://open.spotify.com/embed/track/'" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="loading" style="height: 100%; width: 100%; padding: 14%;"></div>
<div *ngIf="error.falloBool" style="height: 100%; width: 100%; padding: 12.15%;"></div>