<div class="card-columns m-5 animated fadeIn">
    <div (click)="redirect(item)" *ngFor="let item of items" class="card puntero" [ngClass]="storage.theme.cards">
        <img *ngIf="item.type === 'track'" [src]="item.album.images | noimage" class="card-img-top" alt="...">
        <img *ngIf="item.type !== 'track'" [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title {{storage.theme.cardsText}}">{{item.name}}</h5>
            <p *ngIf="item.artists" class="card-text">
                <span (click)="redirect(artista)" *ngFor="let artista of item.artists " class="badge badge-pill" [ngClass]="'badge-' + storage.theme.labels">{{artista.name}}</span>
            </p>
            <p *ngIf="item.genres" class="card-text ">
                <span (click)="redirect(genre)" *ngFor="let genre of item.genres " class="badge badge-pill" [ngClass]="'badge-' + storage.theme.labels">{{genre}}</span>
            </p>
        </div>
    </div>
</div>